@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: get-color('darkblue');
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__content {
  width: 100vw;
  height: 100vh;
  padding: 120px 0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &Button {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: -35px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/icon-close-white.svg');
  }
}

.modal__logo {
  position: absolute;
  top: 35px;
  left: 35px;
}

.icons {
  display: flex;
  gap: 40px;
}
