@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
  color: get-color('grey');
}

.text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.FAQList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.FAQItem {
  cursor: pointer;
  max-width: 350px;
  width: 100%;
}

.question {
  height: 50px;
  position: relative;
  transition: color 0.3s ease;

  &::before {
    content: '';
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: get-color('grey');
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 10px;
    background-image: url('../../images/icon-arrow.svg');
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    color: get-color('orange');
  }
}

.questionExpanded {
  height: 50px;
  position: relative;
  font-weight: 500;

  &::before {
    content: '';
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: get-color('grey');
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 10px;
    background-image: url('../../images/icon-arrow2.svg');
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }
}

.answerHidden {
  display: none;
}

.answerVisible {
  display: block;
}
