@import '../../styles/utils/vars';

button {
  color: get-color('black');
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease,
    border 0.3s ease;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.blue-theme {
  color: get-color('white');
  background-color: get-color('blue');
  border: 2px solid get-color('blue');
  padding: 10px 28px;

  &:hover {
    color: get-color('blue');
    background-color: get-color('white');
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.232));
    border: 2px solid get-color('blue');
  }

  &:focus {
    border: 2px solid get-color('blue');
    background-color: get-color('white');
    color: get-color('blue');
  }
}

.grey-theme {
  &:hover {
    color: get-color('white');
    background-color: get-color('blue');
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }

  &:focus {
    border: 2px solid get-color('blue');
    background-color: get-color('white');
  }
}

.orange-theme {
  color: get-color('white');
  background-color: get-color('orange');
  border: 2px solid get-color('orange');
  padding: 10px 28px;

  &:hover {
    color: get-color('orange');
    background-color: get-color('white');
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.232));
    border: 2px solid get-color('orange');
  }

  &:focus {
    border: 2px solid get-color('orange');
    background-color: get-color('white');
    color: get-color('orange');
  }
}
