@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  width: 100%;
  background-color: get-color('blue');
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: get-color('white');
}

.counter {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

.newsletter__form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include mixins.mq(desktop) {
    flex-direction: row;
    justify-content: center;
    width: 750px;
  }
}

.newsletter__input {
  font-weight: 400;
  padding: 12px 30px;
  border-radius: 5px;
  color: get-color('grey');

  &::placeholder {
    color: get-color('grey');
  }

  @include mixins.mq(desktop) {
    width: 350px;
  }
}
