@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: get-color('blue');
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;

  @include mixins.mq(desktop) {
    padding-bottom: 30px;
  }
}

.text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: get-color('white');
}

.counter {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
}

.newsletter__form {
  max-height: 52px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  @include mixins.mq(desktop) {
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
  }
}

.newsletter__input {
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 5px;
  color: get-color('grey');
  border: 2px solid get-color('white');
  transition: border 0.3s ease;

  &:hover,
  &:focus {
    border: 2px solid get-color('orange');
  }

  &::placeholder {
    color: get-color('grey');
  }

  @include mixins.mq(desktop) {
    width: 350px;
  }
}

.error {
  background-color: get-color('orange');
  color: white;
  padding-left: 8px;
  padding-bottom: 4px;
  border-radius: 5px;
  position: relative;

  @include mixins.mq(desktop) {
    padding-left: 22px;
  }

  &::after {
    content: '';
    position: absolute;
    top: -35px;
    right: 15px;
    width: 20px;
    height: 20px;
    background-image: url('../../images/icon-error.svg');
    background-repeat: no-repeat;
  }
}
