@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  // width: 100%;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.mq(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
}

.illustration {
  min-width: 200px;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/illustration-hero.svg');
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 115px;
    right: -30px;
    width: 90%;
    height: 60%;
    background-color: get-color('blue');
    z-index: -1;
    border-bottom-left-radius: 110px;
    border-top-left-radius: 110px;
  }
}

.textLeft {
  text-align: center;
  color: get-color('grey');

  @include mixins.mq(desktop) {
    text-align: left;
  }
}

.text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mixins.mq(desktop) {
    > h1 {
      text-align: left;
    }
    align-items: flex-start;
  }
}

.buttons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
