@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;

  @include mixins.mq(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.illustration {
  min-width: 200px;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/illustration-hero.svg');
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 85px;
  //   left: calc(50% - 70px);
  //   min-width: 200px;
  //   width: 1000%;
  //   height: 80%;
  //   background-color: get-color('blue');
  //   z-index: -1;
  //   border-bottom-left-radius: 110px;
  //   border-top-left-radius: 110px;
  // }

  &::after {
    content: '';
    position: absolute;
    top: 85px;
    left: calc(50% - 70px);
    min-width: 200px;
    width: 1000%;
    height: 80%;
    background-color: get-color('blue');
    z-index: -1;
    border-bottom-left-radius: 110px;
    border-top-left-radius: 110px;
  }
}

.textLeft {
  text-align: center;
  color: get-color('grey');

  @include mixins.mq(desktop) {
    text-align: left;
  }
}

.text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}
