@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  // width: 100%;
  // max-width: 1440px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @include mixins.mq(desktop) {
    flex-direction: row;
    gap: 50px;
  }
}

.illustration {
  min-width: 200px;
  width: 90%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/illustration-features-tab-1.svg');
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 85px;
    left: -30px;
    width: 80%;
    height: 90%;
    background-color: get-color('blue');
    z-index: -1;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 110px;
  }
}

.textLeft {
  text-align: center;
  color: get-color('grey');

  @include mixins.mq(desktop) {
    text-align: left;
  }
}

.text {
  max-width: 650px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mixins.mq(desktop) {
    margin-top: 0;
    align-items: flex-start;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
