@import '../../styles/utils/vars';

.link {
  color: get-color('black');
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
  font-weight: 600;
  padding: 15px 30px;
  border-radius: 10px;

  &:hover {
    color: get-color('white');
    background-color: get-color('orange');
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}

.active {
  color: get-color('orange');
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
  font-weight: 600;
  padding: 13px 28px;
  border-radius: 10px;
  background-color: get-color('white');
  border: 2px solid get-color('orange');

  &:hover {
    color: get-color('white');
    background-color: get-color('orange');
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}
