@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/rubik/v15/iJWKBXyIfDnIV7zj3IYtGg.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/rubik/v15/iJWKBXyIfDnIV7nO0Q0Q5A.woff2')
    format('woff2');
}
