@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot');
  src: url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/0373adad7b4c1a926865084f2f8fab7f.svg#Circe')
      format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
    format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
    format('woff2');
}
