$breakpoints: (
  'desktop': 376px,
);

@mixin mq($width) {
  @if map_has_key($breakpoints, $width) {
    $width: map-get($breakpoints, $width);
    @media screen and (min-width: $width) {
      @content;
    }
  }
}
