@import '../../styles/utils/vars';

.header__container {
  // width: 100vw;
  // width: 100%;
  // max-width: 1440px;
  padding: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}
