@import '../../styles/utils/vars';

.header__container {
  width: 100%;
  padding: 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}
