@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.footer__container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: get-color('darkblue');

  @include mixins.mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logoAndNav {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include mixins.mq(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.icons {
  display: flex;
  gap: 40px;
}

.footer__logo {
  display: flex;
  align-items: center;
}
