@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.mq(desktop) {
    flex-direction: row;
    gap: 50px;
  }
}

.illustration {
  min-width: 200px;
  width: 90%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/illustration-features-tab-2.svg');
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 85px;
  //   left: -45px;
  //   width: 80%;
  //   height: 80%;
  //   background-color: get-color('blue');
  //   z-index: -1;
  //   border-bottom-right-radius: 110px;
  //   border-top-right-radius: 110px;
  // }
}

.textLeft {
  text-align: center;
  color: get-color('grey');

  @include mixins.mq(desktop) {
    text-align: left;
  }
}

.text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include mixins.mq(desktop) {
    align-items: flex-start;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
