@import '../../styles/utils/vars';

.link {
  color: get-color('white');
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
  font-weight: 500;
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  margin-bottom: 2px;

  &:hover {
    color: get-color('blue');
  }
}

.active {
  color: get-color('white');
  transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
  font-weight: 600;
  width: 150px;
  text-align: center;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: get-color('blue');

  &:hover {
    color: get-color('blue');
    background-color: get-color('white');
    filter: drop-shadow(2px 2px 4px rgba(0, 34, 255, 0.232));
  }
}
