@use '../../styles/utils/mixins';
@import '../../styles/utils/vars';

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navigation__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: get-color('grey');
    bottom: 0;
    left: 0;
  }
}

.link {
  width: 200px;
  color: get-color('white');
  transition: border 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 2px;
  border: 2px solid get-color('darkblue');

  &:hover {
    border: 2px solid get-color('white');
    font-weight: 500;
  }
}
