*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: get-font('primary'), sans-serif;
  color: get-color('black');
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

body {
  font-size: get-font-size('primary');
  line-height: 1.6;
  background-color: get-color('white');
}
